.chart-circular__block {
	display: inline-block;
	width: $graph-size;
	height: $graph-size;
	margin: 30px 20px 20px;
}

.chart-circular__data {
	position: absolute;
	width: $graph-size;
	text-align: center;
	
	transform: translateY(46%);
	
	span {
		display: block;
	}
}

.chart-circular__one {
	
	.chart-circular__value {
		color: $graph-blue;
	}
	
	path.chart-graph {
		stroke: $graph-blue;
	}
}
.chart-circular__two {
	
	.chart-circular__value {
		color: $graph-orange;
	}
	
	path.chart-graph {
		stroke: $graph-orange;
	}
}

.chart-graph {
	stroke-dasharray: 482;
	stroke-dashoffset: 482;
	transition:			all 1.4s ease;
}
.chart-graph-dummy {
	stroke: $graph-dummy;
}