.numbers__value {
	display: inline-block;
	margin-bottom: 6px;
	font-size: 2.75em;
	font-weight: 300;
	line-height: 1em;
	color: $grey-blue;
	
	&.value-primary {
		color: $graph-blue;
	}
	&.value-secondary {
		color: $graph-orange;
	}
	&.value-chart {
		margin-bottom: .25em;
		font-size: 2.25em;
	}
}

.numbers__description {
	margin-bottom: 1.15em;
	font-size: .75em;
	font-weight: 400;
	line-height: 1em;
	color: $grey-blue-fade;
	display: block;
}

.numbers__trend {
	position: relative;
	display: inline-block;
	font-size: .75em;
	font-weight: 600;
	line-height: 1em;
	
	&.trend-positive,
	&.trend-negative,
	&.trend-neutral {
		margin-left: 16px;
		
		&:before {
			content: "";
			position: absolute;
			top: 2px;
			left: -12px;
			width: 0;
			height: 0;
			border-style: solid;
		}
	}
	
	&.trend-positive {
		color: $trend-positive;
		
		&:before {
			border-width: 0 4px 7px 4px;
			border-color: transparent transparent $trend-positive transparent;
		}
	}
	&.trend-negative {
		color: $trend-negative;
		
		&:before {
			border-width: 7px 4px 0 4px;
			border-color: $trend-negative transparent transparent transparent;
		}
	}
	&.trend-neutral {
		color: $trend-neutral;
		
		&:before {
			border-width: 4px 0 4px 7px;
			border-color: transparent transparent transparent $trend-neutral;
		}
		&:after {
			content: "";
			position: absolute;
			top: 2px;
			left: -12px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 4px 7px 4px 0;
			border-color: transparent $trend-neutral transparent transparent;
		}
	}
	
	&.trend-center {
		
		&.trend-positive,
		&.trend-negative {
			margin-left: 10px;
		}
		
		&:before {
			bottom: 25%;
			left: 34%;
		}
	}
}