.stats {
	height: 300px;
	color: $grey-blue;
	background: $graphite-var;
}

.stats__module {
	display: inline-block;
}

.stats__canvas {
	width: 400px;
	height: 100px;
}

.stats__graphs {
	position: relative;
	/*width: 480px;*/
	padding: 20px 10px;
}

.chart-circular__block {
	display: inline-block;
	width: $graph-size;
	height: $graph-size;
	margin: 0 10px 20px;
}

.chart-circular__data {
	position: absolute;
	width: $graph-size;
	text-align: center;
	
	transform: translateY(46%);
	
	span {
		display: block;
	}
}

.chart-circular__value {
	margin-bottom: .25em;
	font-size: 2.25em;
	font-weight: 300;
	line-height: 1em;
}
.chart-circular__description {
	margin-bottom: 1.15em;
	font-size: .75em;
	font-weight: 400;
	line-height: 1em;
	color: $grey-blue-fade;
}
.chart-circular__trend {
	position: relative;
	font-size: .75em;
	font-weight: 600;
	line-height: 1em;
	
	&.trend-positive,
	&.trend-negative {
		
		&:before {
			content: "";
			position: absolute;
			bottom: 36%;
			left: 37%;
			width: 0;
			height: 0;
			border-style: solid;
		}
	}
	
	&.trend-positive {
		color: $trend-positive;
		
		&:before {
			border-width: 0 4px 8px 4px;
			border-color: transparent transparent $trend-positive transparent;
		}
	}
	&.trend-negative {
		color: $trend-negative;
		
		&:before {
			border-width: 8px 4px 0 4px;
			border-color: $trend-negative transparent transparent transparent;
		}
	}
}

.chart-circular__one {
	
	.chart-circular__value {
		color: $graph-blue;
	}
	
	path.chart-graph {
		stroke: $graph-blue;
	}
}
.chart-circular__two {
	
	.chart-circular__value {
		color: $graph-orange;
	}
	
	path.chart-graph {
		stroke: $graph-orange;
	}
}

.chart-graph {
	stroke-dasharray: 482;
	stroke-dashoffset: 482;
	transition:			all 1.4s ease;
}
.chart-graph-dummy {
	stroke: $graph-dummy;
}