/**
 * Top Header
 */
.top-header {
	padding: .225em 2em;
	background: $graphite-dark-var;
}

.top-header h1 {
	margin: .75em 0 .3125em;
}

.top-header__logo {
	width: 85px;
	height: auto;
	margin: 0;
}

.top-header__menu {
	margin: 0 0 10px;
	font-size: .75em;
	text-transform: uppercase;
	
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	li {
		display: inline-block;
		margin: 0 2em 0 0;
	}
	
	a {
		position: relative;
		padding: 1.125em .25em;
		color: rgba($white, .68);
		
		&:hover,
		&.active {
			color: rgba($white, 1);
		}
		
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 0;
			border-bottom: 4px solid rgba($blue, 0);
		}
		
		&:hover:after,
		&.active:after {
			width: 100%;
			left: 0%;
			border-bottom: 4px solid rgba($blue, 1);
		}
	}
}