.widget {
	display: block;
	float: left;
	width: 33%;
	margin: 1%;
	padding: 2em;
	background: $white;
	border: 1px solid $blue-border;
	border-radius: 2px;
	
	a {
		color: $blue;
	}
	p {
		font-size: .8125em;
		color: $blue-dark;
	}
	
	&.widget-small {
		width: 22%;
	}
}

.widget__title,
.widget__subtitle {
	margin-top: 0;
	font-weight: 600;
}

.widget__title {
	font-size: 1em;
	font-size: 1.125em;
}

.widget__subtitle {
	margin-top: 3em;
	font-size: .75em;
	text-transform: uppercase;
}

.widget__col-2 {
	float: left;
	width: 45%;
	margin-right: 10%;
	
	&:last-of-type {
		margin: 0;
	}
}

/* Widget List */
.widget__list {
	margin: 0;
	padding: 0;
	list-style: none;
	
	li {
		margin-bottom: .5em;
	}
	
	a,
	span {
		display: block;
	}
	
	span {
		font-size: .75em;
		color: $blue-light;
	}
}

/* Widget Contact Form */
.widget__contact-form {
	font-size: .75em;
	font-weight: 600;
	color: $black-forms;
}

.contact-form__row {
	margin-bottom: .75em;
}