/* Widget Contact Form */
.widget__contact-form {
	font-size: .75em;
	font-weight: 600;
	color: $black-forms;


	label {
		display: inline-block;
		width: 30%;
		padding: 1em 0;
		color: $blue-dark;
		vertical-align: top;
	}

	input,
	textarea,
	select {
		border-radius: 2px;
	}

	input[type="text"],
	textarea,
	select {
		width: 62%;
		padding: 1em 1em;
		background: $blue-background;
		border: 1px solid $blue-border;
	}

	select {
		box-sizing: initial;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}

	.contact-form__select {
		/* @todo: review, rewrite */

		position: relative;
		display: inline-block;
		width: 62%;

		&:after {
		    font: 16px/1 Genericons;
		    position: absolute;
		    content: '\f431';
		    top: 14px;
		    right: -10px;
		}

		select {
			width: 100%;
		}
	}

	input[type="submit"] {
		margin-left: 30%;
		padding: 1em 2em;
		color: $white;
		background: $azure;
		border: none;

		box-shadow: 0 3px 0px $azure-dark;
	}

	::-webkit-input-placeholder {
	    color: $blue-light;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color: $blue-light;
	   opacity:  1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color: $blue-light;
	   opacity:  1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
	   color: $blue-light;
	}
}

.contact-form__row {
	margin-bottom: .75em;
}