
.widgets-area {
	padding: 1%;
}

.widget {
	display: block;
	float: left;
	width: 31%;
	margin: 1%;
	padding: 2em;
	background: $white;
	border: 1px solid $blue-border;
	border-radius: 2px;

	&.widget-small {
		width: 18%;
	}
}

.widget p {
	color: $blue-dark;
}

.widget a {
	color: $blue;
}

.widget__title,
.widget__subtitle {
	margin-top: 0;
	font-weight: 600;
}

.widget__subtitle {
	margin-top: 3em;
	text-transform: uppercase;
}

.widget__col-2 {
	float: left;
	width: 45%;
	margin-right: 10%;

	&:last-of-type {
		margin: 0;
	}
}

/* Widget List */
.widget__list {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		margin-bottom: .5em;
	}

	a,
	span {
		display: block;
	}

	span {
		font-size: .9em;
		color: $blue-light;
	}
}

