#plugins-fp {
	margin-top: 2em;
	margin-bottom: 2em;
	overflow: hidden;
	box-sizing: border-box;
}

#plugins-fp .plugin {
	position: relative;
	float: left;
	width: 24%;
	margin: 0 1% 1% 0;
	padding: 16px;
	font-size: .875em;
	background: #fff;
	border: 1px solid #e5e5e5;
	overflow: hidden;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	box-sizing: border-box;
}
	#plugins-fp .plugin.hovered .fp-icon,
	#plugins-fp .plugin.hovered .fp-content {
		-webkit-filter: blur(3px);
		filter: blur(3px)
	}
	#plugins-fp .plugin.active {
		background: #f2fbff;
	}
		#plugins-fp .plugin.active:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 4px;
			border-top: 4px solid #2ea2cc
		}

	#plugins-fp .plugin.hovered .interstitial {
		display: block;
		-moz-animation: expand 0.3s cubic-bezier(0.14, 0.61, 0.2, 1) 0s 1 forwards;
		-webkit-animation: expand 0.3s cubic-bezier(0.14, 0.61, 0.2, 1) 0s 1 forwards;
		animation: expand 0.3s cubic-bezier(0.14, 0.61, 0.2, 1) 0s 1 forwards
	}
	#plugins-fp .plugin.hovered .interstitial-inner {
		-moz-animation: slideUp 0.3s cubic-bezier(0.14, 0.61, 0.2, 1) 0s 1 forwards;
		-webkit-animation: slideUp 0.3s cubic-bezier(0.14, 0.61, 0.2, 1) 0s 1 forwards;
		animation: slideUp 0.3s cubic-bezier(0.14, 0.61, 0.2, 1) 0s 1 forwards
	}

#plugins-fp .fp-icon {
	float: left;
	width: 48px;
	height: 48px;
	border-radius: 3px
}
#plugins-fp .fp-content {
	margin-left: 64px
}
#plugins-fp .fp-title {
	font-size: 20px;
	font-weight: 600;
	margin: 0 0 .3em
}
#plugins-fp .fp-description {
	margin: 0
}
#plugins-fp .interstitial {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 0;
	padding: 16px;
	box-sizing: border-box;
	background: rgba(46, 162, 204, 0.92);
	text-align: center
}
	#plugins-fp .interstitial .fp-title {
		margin: 0 0 .825em;
		color: #fff
	}

#plugins-fp .interstitial-inner {
	position: absolute;
	top: 45%;
	left: 0;
	right: 0;
	width: 100%
}
#plugins-fp .fp-button {
	opacity: 0;
	padding: 5px 12px;
	font-size: 14px;
	color: #fff;
	background: #2ea2cc;
	border: 1px solid #0074a2;
	border-radius: 3px;
	-moz-box-shadow: 0px 1px 0px 0px rgba(173, 173, 173, 0.4), inset 0px 1px 0px 0px #53B5D9;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(173, 173, 173, 0.4), inset 0px 1px 0px 0px #53B5D9;
	box-shadow: 0px 1px 0px 0px rgba(173, 173, 173, 0.4), inset 0px 1px 0px 0px #53B5D9;
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	text-decoration: none;
}
	#plugins-fp .fp-button:hover {
		color: #fff;
		background: #0074a2;
		-moz-box-shadow: 0px 1px 0px 0px rgba(173, 173, 173, 0.4), inset 0px 1px 0px 0px #0074A2;
		-webkit-box-shadow: 0px 1px 0px 0px rgba(173, 173, 173, 0.4), inset 0px 1px 0px 0px #0074A2;
		box-shadow: 0px 1px 0px 0px rgba(173, 173, 173, 0.4), inset 0px 1px 0px 0px #0074A2;
		text-decoration: none
	}
	#plugins-fp .fp-button.visible {
		opacity: 1;
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1)
	}

#plugins-fp .fp-text {
	display: none;
	height: 0;
	font-weight: bold;
	color: #fff
}
	#plugins-fp .fp-text.visible {
		display: block;
		-webkit-animation: reveal .3s ease 0s 1 forwards;
		animation: reveal .3s ease 0s 1 forwards
	}

@-moz-keyframes expand {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1;
		height: 100%
	}
}
@-webkit-keyframes expand {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1;
		height: 100%
	}
}
@keyframes expand {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1;
		height: 100%
	}
}
@-moz-keyframes reveal {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1;
		-moz-transform: translateY(-26px);
		transform: translateY(-26px)
	}
}
@-webkit-keyframes reveal {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(-26px);
		transform: translateY(-26px)
	}
}
@keyframes reveal {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1;
		-moz-transform: translateY(-26px);
		-ms-transform: translateY(-26px);
		-webkit-transform: translateY(-26px);
		transform: translateY(-26px)
	}
}
@-moz-keyframes slideUp {
	20% {
		-moz-transform: translateY(100%);
		transform: translateY(100%)
	}
	100% {
		-moz-transform: translateY(-50%);
		transform: translateY(-50%)
	}
}
@-webkit-keyframes slideUp {
	20% {
		-webkit-transform: translateY(100%);
		transform: translateY(100%)
	}
	100% {
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%)
	}
}
@keyframes slideUp {
	20% {
		-moz-transform: translateY(100%);
		-ms-transform: translateY(100%);
		-webkit-transform: translateY(100%);
		transform: translateY(100%)
	}
	100% {
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%)
	}
}
#plugins-fp .fp-icon,
#plugins-fp .fp-content,
#plugins-fp .fp-button {
	-moz-transition:	all 0.15s ease;
	-o-transition:		all 0.15s ease;
	-webkit-transition:	all 0.15s ease;
	transition:			all 0.15s ease
}
.vip-code-activated-plugin {
	color: #000;
}
@media screen and (max-width: 55.5em) {
	#plugins-fp .plugin {
		width: 49%;
	}
}
@media screen and (max-width: 37.5em) {
	#plugins-fp .plugin {
		float: none;
		width: 100%
	}
}